.ass{
    display: flex;
}

.ass01{
    text-align: center;
    padding-top: 96px;
    margin: 0 auto;
    color: #3C3B3D;
font-family: Roboto;
font-size: 43px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 102.326% */
}
.ass1{
 margin-left: 100px;
margin-top: 38px;
margin-bottom: 100px;

}

