.box{
    height: 1041px;
    width: 100%;
    background: #F8F3F1;
}
.box01{
text-align: center;
margin: 0 auto;
    padding-top: 159px;
    width: 780px;
    color: #3C3B3D;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 55.88px; /* 127% */
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 98px;
}
.box021{
    width: 216px;
height: 40px;
flex-shrink: 0;
border-radius: 15984px;
background: #124E3B;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22.88px; /* 143% */
z-index: 999;
}
.box022{
    width: 253px;
height: 40px;
flex-shrink: 0;
background: #fff;
border-top-right-radius: 15984px;
border-bottom-right-radius: 15984px;
margin-left: -20px;
z-index: 1;


}
.boxx{
    display: flex;
    align-items: center;
width: 100%; 

}
.boxx1{
    margin-top: 82px;
;
}
.boxx2{
    margin-right: 104px;
}
.boxx3{
    width: 278px;
    height: 122px;
    background-color: #FFF;
    margin-top: -5px;
}
.boxx36{
    color: #757478;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
text-align: center;
padding-top: 29px;
}
.boxx3 h1{
    margin-top: 7px;color: #3C3B3D;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 100% */
    text-align: center;
}
.boxx4{
    margin-top: -3px;
    width: 100px;
    height: 122px;
    background-color: #FFF;
}
.boxx02{
    margin-top: 100px;
    margin-left: 68px;margin-right:  50px;
}
.boxx44{
   
    color: #3C3B3D;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 100% */
padding-top: 50px;
margin-left: 50px;
}
.boxx45{
   
    color: #3C3B3D;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 36px; /* 100% */
padding-top: 50px;
margin-left: 0px;
}


// ###################################?
.bobutton{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 167px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
background: #F2CDCE;
margin-top: 80px;
color: #0A0A0A;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22.88px; /* 143% */

}
.boxbutton{
    width: 16px;
height: 16px;
}